a.khoi10{
    border: 1px solid #0066CC;
    border-radius: 8px;
    padding: 5.5px 45px;
    color: #0066CC;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-decoration: none;
}

a.khoi10:hover {
    background-color: #0066CC;
    color:white;
}