

.sp4 {
	margin-top: 15px;
}

img.trai3_anhto {
	padding-left: 1.6px;
	width: 100%;
}
div.trai3_anhnho {
	width: 50%;
	 float: left;
}

div.trai3_anhnho img{
    width: 100%;
   /* float: left;*/
    padding: 1.6px;
}
div.trai3_anhnho1 {
	width: 33.3333%;
	 float: left;
	 padding: 1px;
}

div.trai3_anhnho1 img{
    width: 100%;
  
}
/*hết sp3 khối trái*/
div.sp3_phai {
	padding-left:35px;
	font-size: 24px;
	font-weight: 500;
	font-family: 'futura-REGULAR', sans-serif;
}
p.gia {
	padding: 0px;
}
p.chinhsach{
	font-size: 15px;
}	
p.tinhtrang{
	font-size: 15px;
	font-weight: bold;
}

div.kichthuoc {
    display: flex;
} 



p.khoiluong {
	font-size: 15px;
}
p.khoiluong button {
	width: 45px;
	height: 40px;
	border: none;
	background: #F3F4F4;
	/*color: #F3F4F4;*/
}
/* color */
#colorPicker {
	padding:10px;
	margin-right: 10px;
	display: block;
	width: 35px; /* Adjust width as needed */
	height: 35px; /* Adjust height as needed */
	border: 2px solid transparent; /* Initial border color */
	border-radius: 50%; /* To make it a circle */
	outline: none; /* Remove default focus outline */
  }
  
div.color {
	display: flex;
}

#memoryPicker{
	margin-right: 10px;
	border-radius: 5px;
	padding: 5px;
    font-size: 15px;
    color: #80808078;
    background-color: white;

}

div.sp3_nut {
	/*display: flex;*/
	/*justify-content: space-between;*/
}

button.mua {
	float: left;
	padding: 10px 40px;
	border: 1px solid black;
	cursor: pointer;
	background: black;
	color: white;
	margin-right: 20px;
}
div.tuvan {
	float: left;
	padding: 10px 40px;
	border: 1px solid black;
	cursor: pointer;
}
