.carousel-indicators [data-bs-target] {
    
    width:8px !important;
    height:8px !important;
    background-color: #928C8C ;
    border-radius: 50%;
  }

  #carouselExampleIndicators button{
  margin: 0 5px;
  
  }
  .active {
    position: relative;
    background-color: black !important;
  }
  
  .active:after {
    position: absolute;
    top: -6px;
    left: -6px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background: transparent;
  }
  .carousel-item img {
  width: 100%;
  height: 100%;
  background: content-box;
  }